#about{
  padding-bottom: 3rem;
}
.sec__about{
  color: $body-color;
}


.sec__about {

  // h1 {
  //   text-align: left;
  // }

  p{
    font-size: $normal-font-size;// 1.25rem;
    line-height: 1.5rem;
    // font-size: 1.563rem;
    // font-weight: 500;
  }
}

.box__about {
  align-self: center;
  margin: 0 auto;
  max-width: 100%;//25rem;
  text-align: center;
}

// .box__input {
//   display: flex;
//   flex-direction: column;
// }

.m-b-opt {
  margin-right: 0rem;
}

#about__foto {
  background-image: url('../../assets/image/foto02.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30rem;
  max-height: 40rem;
  max-width: 40rem;
  margin: auto;
}


@media screen  and (min-width: 576px){

   .box__input {
    flex-direction: row;
    justify-content: start;
  }

  .m-b-opt {
    margin-right: 0.5rem;
  }

  
.sec__about {

  p {
      font-size: 1.25rem;// 1.25rem;
      line-height: 1.8rem;
    }
  }

  .box__about {
    font-size: 1.25rem;
    line-height: 1.8rem;
    max-width: 80%;
  }

}

@media screen  and (min-width: 768px){

  
  .box__personal {
    grid-template-columns: repeat(3, 1fr);
    gap: 0rem;
  }

}

@media screen  and (min-width: 900px){

  #about {
    padding: 5rem 0;
  }  

.about-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
  }

  .box__about {
    margin: 1.5rem;
    order:2;
    text-align: left;
  }
  .box__foto_about {
    order: 1;
  }
  .box__about {
    .title_main {
    text-align: left;
    }
  }
  
  // .wrapper {
  //   max-width: 1400px;
  //   margin: auto;
  // }


}
