#home {
  background-color: #F2F4F9;
  padding-top: 0.5rem ;
  background-image: url(../../assets/image/wave01.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}


.sec__home {
  
  h1 {
    font-size: 4rem;
    .title_home {

      background: -webkit-linear-gradient( $first-color, $second-color);
      background: -moz-linear-gradient($first-color, $second-color);
      background: -o-linear-gradient($first-color, $second-color);
      background: linear-gradient($first-color, $second-color);
      color:transparent;
      -webkit-background-clip: text;
    }
  }

  ul {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color: $body-color;
  }

}

#home__foto {
  background-image: url('../../assets/image/foto01.png');
  background-position: center;
  background-size: cover;
  max-width: 25rem;
  height: 25rem;
}

