
#study_experience {
  background-color: $nav-color;
  padding: 3rem 0;
}



/*
* TABLET
*/
@media screen  and (min-width: 576px){


}
/*
* LAPTOP
*/
@media screen  and (min-width: 768px){


.study_experience_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
}


}
/*
* DESKTOP
*/
@media screen  and (min-width: 1024px){


}