
#study_experience {
  background-color: $nav-color;
  padding: 3rem 0 5rem 0;
}

/*
* Panel Card
*/
.panel-main {
  background-color: #FFFFFF;
  padding: 2rem 0.5rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(100%, 1fr));
  gap: 1rem;
  .panel-card {
    background-color: #FFFFFF;
    padding: 1rem;
    display: flex;
    padding: 0.6rem;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &-image {
      
      div {
        width: 4rem;
        height: 4rem;
        background-color: $first-color;
        color: #FFFFFF;
        font-size: 2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5rem;

      }
    }
    &-body {
      
      &-title {
        color: $body-color;
        font-weight: bold;
        font-size: 1.2rem;
      }
      &-description {
        margin-top: 0.7rem;
        font-size: $normal-font-size;
        line-height: 1.7rem;
        color: #494E5F;
      }
    }
  
  }
}

/*
* SMALL
*/

@media screen  and (min-width: 450px){
  .title_main {
    font-size: 3rem;
  }
  .panel-main {
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 3rem;
     .panel-card {
               flex-direction: row;
        align-items: left;
        text-align: left;

    &-image {
      
      div {
        width: 5rem;
        height: 5rem;


      }
    }

  }
}


  
}



/*
* TABLET
*/
@media screen  and (min-width: 576px){
  .panel-main {
    padding: 4rem 2rem;
    
      .panel-card {

      }
  }

}
/*
* LAPTOP
*/
@media screen  and (min-width: 768px){


.study_experience_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
}


}
/*
* DESKTOP
*/
@media screen  and (min-width: 900px){

#study_experience {
  padding-top: 5rem;
}
}