#works {
  padding: 3rem 0;
}

.work_grid {
  grid-template-columns: 1fr;
}

.panel_works_item {
  display: grid;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  align-items: center;

  img {
    object-position: top;
    object-fit: cover;
    transition: transform .2s;
    text-align: center;
    width: 100%;
    max-height: 20rem;
  }

  &_footer {

    //bottom: 0;
    //background-color: #FFFFFF;
    //width: 100%;
    //padding: 0.8rem 1.5rem;
    //box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
    color: $body-color;

    &_title {
      font-size: 2rem;
      font-weight: 700;
    }

    &_link {
      margin-top: 0.5rem;
      display: flex;

      a {
        text-decoration: none;
        display: flex;
        font-size: 1.1rem;
        align-items: center;
        color: $first-color;
        cursor: pointer;

        span {
          margin-bottom: 5px;
        }

      }
    }


  }

}

.box-order-1 {
  order: 1;
}

.box-order-2 {
  order: 2;
}

// .panel_works {

//   &_item {
//     border-radius: 30px;
//     //width: 30rem;
//     overflow: hidden;
//     margin: 2rem 1rem;
//     position: relative;
//     box-shadow: 1px 2px 15px rgba(#000000, 0.1);
//     height: 25rem;
//     cursor: pointer;
//     z-index: 1;

//     img {
//       border-top-left-radius: 30px;
//       border-top-right-radius: 30px;
//       height: 100%;
//       //width: 100%;
//       object-position: top;
//       object-fit: cover;
//       transition: transform .2s;
//       text-align: center;
//       width: 100%;
//     }

//     &_footer {
//       position: absolute;
//       bottom: 0;
//       background-color: #FFFFFF;
//       width: 100%;
//       padding: 0.8rem 1.5rem;
//       box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);

//       &_title {
//         font-size: 1.5rem;
//         font-weight: 600;
//       }

//       &_link {
//         margin-top: 0.5rem;
//         display: flex;

//         a {
//           text-decoration: none;
//           display: flex;
//           font-size: 1rem;
//           align-items: center;
//           color: $body-color;

//           span {
//             margin-bottom: 5px;
//           }

//         }
//       }

//       &_description {
//         font-size: 1rem;
//         line-height: 1.5rem;
//       }
//     }

//     &:hover>img {
//       transform: scale(1.2);
//     }
//   }

// }

// .splide__pagination__page.is-active {
//   background: rgba($body-color, 0.5) !important;
// }

// .splide {
//   margin: 0 auto;
// }

/*
* SMALL
*/

@media screen and (min-width: 360px) {

  // .panel_works {

  //   &_item {
  //     height: 30rem;

  //     img {}

  //     &_footer {


  //       &_title {
  //         font-size: 2rem;
  //       }

  //       &_link {


  //         a {
  //           font-size: 1.2rem;

  //         }
  //       }

  //       &_description {
  //         font-size: $normal-font-size;
  //       }
  //     }
  //   }
  // }

}

/*
* TABLET
*/

@media screen and (min-width: 576px) {}

/*
* LAPTOP
*/
@media screen and (min-width: 768px) {

  // .work_grid {
  //   grid-template-columns: 1fr 1fr;
  // }

}

/*
* DESKTOP
*/
@media screen and (min-width: 1024px) {

  .box-order-1 {
    order: 2;
  }

  .box-order-2 {
    order: 1;
  }

  .section-separate {
    width: 100%;
    display: flex;
    justify-content: center;
    //height: 10px;

    span {
      width: 50%;
      height: 1px;
      background-color: rgba($body-color, 0.1);
    }
  }

  .panel_works_item {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-top: 150px;
    padding-bottom: 150px;


    &_footer {

      &_title {
        font-size: 2.5rem;
      }
    }
  }

}