
.btn__sm {

  padding: 0.9rem 2.1rem;

  &__second {
    padding: 0.7rem 2.1rem;  
  }

}

.btn__md {
  padding: 0.9rem 4rem;
}

.btn__lg {
  padding: 0.9rem 4rem;
}

.m-all {
  margin: 0.5rem;
}

.m-t {
  margin-top: 0.5rem ;
} 

.m-r {
  margin-right: 0.5rem;
}

.m-b {
  margin-bottom: 0.5rem;
} 

.m-l {
  margin-left: 0.5rem;
}

.btn__primary {
  
  border-style: none;
  border-radius: 1.875rem;
  background: -webkit-linear-gradient(90deg, $first-color, $second-color);
  background: -moz-linear-gradient(90deg,$first-color, $second-color);
  background: -o-linear-gradient(90deg,$first-color, $second-color);
  background: linear-gradient(90deg,$first-color, $second-color);
  color: #ffffff;
  cursor: pointer;
  font-family: $body-font;
  font-size: 1.2rem;
  font-weight: 700;
  outline: none;
  &:hover {
    box-shadow: 2px 3px 8px rgba(0,0,0,0.5);
  }
  
}

.btn__second {
  
  border-radius: 1.875rem;
  border: 3px solid $first-color;
  background-color: transparent;
  /*
  border-image: -webkit-linear-gradient(90deg, $first-color, $second-color);
  border-image: -moz-linear-gradient(90deg,$first-color, $second-color);
  border-image: -o-linear-gradient(90deg,$first-color, $second-color);
  border-image: linear-gradient(90deg,$first-color, $second-color);
  */
  color: $first-color;
  cursor: pointer;
  font-family: $body-font;
  font-size: 1.2rem;
  font-weight: 700;
  &:hover {
    box-shadow: 2px 3px 8px rgba(0,0,0,0.5);
  }

}

.btn__nav {
  
  border-radius: 1.875rem;
  border: 3px solid $first-color;
  background-color: transparent;
  color: $first-color;
  cursor: pointer;
  font-family: $body-font;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  &:hover {
    padding: 0.68rem 1.68rem;
    box-shadow: 2px 3px 8px rgba(0,0,0,0.2);
    background: -webkit-linear-gradient(90deg, $first-color, $second-color);
    background: -moz-linear-gradient(90deg,$first-color, $second-color);
    background: -o-linear-gradient(90deg,$first-color, $second-color);
    background: linear-gradient(90deg,$first-color, $second-color);
    border: 0px;
    color: white;
  }
}


@media screen  and (min-width: 365px){

  
}